 /*a{
 	display: block;
 	width: 350px;
 	text-align: center;
   border-right:1px double black; 
   padding: 10px 10px;
  text-decoration:none ;
  float: left;
  color: #210D4F;
  background-color: honeydew;

}*/